<ul>
  {{#each todos as |todo|}}
    {{#if todo.complete}}
      <li>
        <s>{{todo.title}}</s>
        <input class="check" data-id="{{todo.id}}" type="checkbox" checked>
      </li>
    {{else if todo.url}}
      <li>
        <a href="{{todo.url}}" target="_blank">{{todo.title}}</a>
        <input class="check" data-id="{{todo.id}}" type="checkbox">
      </li>
    {{else}}
      <li>
        {{todo.title}}
        <input class="check" data-id="{{todo.id}}" type="checkbox">
      </li>
    {{/if}}
  {{/each}}
</ul>
